# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Electron
/.vscode/

# Python (pipenv)
Pipfile.lock
__pycache__/
*.pyc

# Environment files
.env

# OS files
.DS_Store
Thumbs.db
