# FastAPI and Flask
fastapi
flask
flask-cors

# ASGI Server
uvicorn

# AI and ML libraries
torch
transformers
sentencepiece
onnx
onnxruntime
spacy
numpy
pandas
langchain-ollama
ollama

# Audio processing and manipulation
pydub
soundfile
scipy
librosa
wave
#essentia

# Data utilities for AI
requests
pytorch-lightning
scikit-learn

# Real-time communication (optional for chat features)

python-socketio

# Miscellaneous
python-dotenv
